@media (max-width:500px) {
    .profile__aside {
        padding: 0 .5rem;
    }
}

.profile__aside p {
    border-left: 2px solid #f2f2f2;
    cursor: pointer;
    font-size: .9rem;
    margin: .2rem 0;
    padding: .5rem;
    transition: all .2s;
}

.active>p {
    background: linear-gradient(210deg, #d8b4fe70, #c084fc12);;
    border-left: 2px solid #c084fc;
    color: #aa5bf8;
}

.profile__aside__text {
    font-size: 1.1rem;
    font-size: 300;
    text-transform: uppercase;
    color: #737373;
}
