.recipe {
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
    min-height: 21rem;
    padding: .25rem;
    transition: all .2s;
}

.recipe a{
    cursor: pointer;
}

.recipe__image {
    height: 13rem;
    transition: transform .3s;
    width: 100%;
}

.recipe:hover .recipe__image {
    transform: scale(1.03);
}

.recipe__name {
    margin: .5rem 0;
    min-height: 2rem;
    padding: 0 .5rem;
    text-overflow: clip;
}

.recipe__owner {
    align-items: center;
    display: flex;
    height: 2.5rem;
    margin-top: .5rem;
}

.recipe__owner img {
    border-radius: 50%;
    height: 100%;
    margin-right: .5rem;
    width: 2.5rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.btn {
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: .9rem;
    margin: .5rem .25rem;
    padding: .4rem .75rem;
    border-radius: 1rem;
    transition: background .15s;
}

.btn__danger {
    background: linear-gradient(141deg, #fb7185, #be123c);
    color: #ffffff;
}

.btn__danger:hover {
    background: linear-gradient(220deg, #fb7185, #be123c);
}

.btn__info {
    background: linear-gradient(141deg, #38bdf8, #0284c7);
    color: #ffffff;
}

.btn__info:hover {
    background: linear-gradient(220deg, #38bdf8, #0284c7);
}