.add__image__p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 2rem;
}

.custom__file__upload {
    background-color: white;
    border: 1px solid #d8b4fe;
    border-bottom-width: 2px;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    padding: .7rem 1rem;
    margin-top: 0.5rem;
}

.create__images {
    display: flex;
    margin: 1rem auto;
}

.create__image {
    height: 100px;
    position: relative;
    width: 100px;
}

.create__image img,
.create__image:before {
    height: 100%;
    width: 100%;
}

.create__image:before {
    background-color: rgba(0, 0, 0, .2);
    content: "";
    left: 0;
    position: absolute;
    top: 0;
}

.create__image i {
    color: #dc3545;
    font-size: 1.5rem;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
}