@media (max-width:500px) {
    .profile__content {
        padding: 0 .5rem;
    }
}

.profile__content__text {
    font-size: 1.1rem;
    font-size: 300;
    text-transform: uppercase;
    color: var(--color-aside);
}

.profile__content__container {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    margin: 1rem 0;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width:1024px) {
    .profile__content__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.create {
    background-color: #f6f6f6;
    box-shadow: var(--box-shadow);
    margin-bottom: 5rem;
    margin-top: 1rem;
    padding: 1rem;
}

.create ul {
    background-color: var(--color-white);
    border-radius: 4px;
}

.create__times {
    display: flex;
}

.create__times>* {
    margin-right: 1rem;
}

.create__selects {
    margin: 1rem 0;
}

.create__selects select {
    margin: 0 1rem;
}

.create button {
    margin: 3rem 0;
    display: block;
    width: 100%;
}

.create ul div {
    align-items: center;
    border-bottom: 1px solid var(--color-background);
    display: flex;
    height: 100%;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}


.btn__primary {
    background-color: var(--color-primary);
    color: var(--color-background);
}

.btn__primary:hover {
    background-color: var(--color-primary-hover);
}

.btn__lg {
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: .5rem .25rem;
    transition: background .15s;
    font-size: 1rem;
    border-radius: 4px;
    padding: .6rem 1rem;
}