.header {
    background: url(../assets/images/hero.jpg) no-repeat top/cover;
    height: 65vh;
    position: relative;
}

.header:before {
    background-color: rgba(0, 0, 0, .35);
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 1320px;
    padding: 1rem;
}