.recipes {
    padding: 1rem 1rem 2rem;
}

.recipes:not(:last-child) {
    border-bottom: 1px solid #ccc;
}

.recipes>div {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 2rem;
}

@media (max-width:1024px) {
    .recipes>div {
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
    }
}

@media (max-width:768px) {
    .recipes>div {
        gap: .5rem;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:500px) {
    .recipes>div {
        grid-template-columns: 1fr;
    }
}

.recipes__text {
    font-size: 1.5rem;
    font-weight: 300;
    margin: .25rem 0;
    margin: 1rem 0;
}

.see__more {
    margin-top: 1.5rem;
    text-align: center;
}

.btn__lg {
    border: none;
    cursor: pointer;
    display: inline-block;
    margin: .5rem .25rem;
    transition: background .15s;
    font-size: 1rem;
    border-radius: 1rem;
    padding: .6rem 1rem;
} 

.btn__info {
    background: linear-gradient(141deg, #38bdf8, #0284c7);
    color: #ffffff;
}

.btn__info:hover {
    background: linear-gradient(220deg, #38bdf8, #0284c7);
}