.groups {
    background: url(./Assets/images/groups-bg.webp) bottom/cover;
    border-bottom: 1px solid #ccc;
    display: grid;
    grid-template-columns: 60% 40%;
    padding: 1rem 1rem 2rem;
}

@media (max-width:900px) {
    .groups {
        background: none;
        grid-template-columns: 1fr;
    }

    .groups h2 {
        display: none;
    }
}

.groups>div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

@media (max-width:640px) {
    .groups>div {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.group {
    backface-visibility: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    height: 11rem;
    margin: .5rem .25rem;
    transition: transform .4s ease;
    width: 10rem;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%)
}

.group img {
    height: 7.5rem;
    width: 100%;
}

.group p {
    padding: .5rem;
}

.group:hover {
    transform: scale(1.05);
}

.groups__text {
    font-size: 1.5rem;
    font-weight: 300;
    margin: .25rem 0;
    margin-top: 2rem;
}