@media (max-width:500px) {
    .profile__content {
        padding: 0 .5rem;
    }
}

.profile__content__text {
    font-size: 1.1rem;
    font-size: 100;
    text-transform: uppercase;
    color: #737373;
}

.comment__header a{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.comment__header h3 {
    font-weight: 600;
    font-size: 1rem;
    color: black;
    margin-left: 0.5rem;
}

.comment strong{
    font-weight: 500;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.9);
}

.profile__content__container {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    margin: 1rem 0;
    grid-template-columns: repeat(3, 1fr);
}

@media (max-width:1024px) {
    .profile__content__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

.comment {
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -4px rgb(0 0 0 / 10%);
    border-radius: 8px;
    margin: 1rem 0;
    padding: .5rem;
    display: flex;
    flex-direction: column;
}

.comment__header {
    align-items: center;
    display: flex;
    padding-bottom: 1rem;
}

.comment__header img {
    border-radius: 3rem;
    height: 3rem;
    margin-right: .5rem;
    width: 3rem;
}