.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 700px;
    width: 100%;
    background-color: transparent;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.profile__content__edit__text {
    position: relative;
    font-size: 1.1rem;
    font-size: 300;
    margin-top: 1rem;
}

.profile__content__edit__text::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(210deg, #d8b4fe, #c084fc);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
}

.btn__gray {
    border: none;
    cursor: pointer;
    display: inline-block;
    font-size: .9rem;
    margin: .5rem .25rem;
    padding: .4rem .75rem;
    transition: background .15s;
    background-color: #bdbbbbcc;
}