@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.header__nav {
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.main__header .header__nav {
    height: 100%;
}

.header__nav,
.header__nav section {
    display: flex;
    z-index: 0;
}

@media (max-width:500px) {
    .header__nav {
        padding: 0 .5rem;
    }
}

.logo__home  {
    z-index: 0;
}

.logo__home  a{
    color: #ffffff;
}

.logo {
    z-index: 0;
}

.logo a{
    background: transparent;
    color: #000000; 
}

.header__nav h3:hover {
    font-size: 1.9rem;
}

.header__nav h3 {
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
    font-size: 1.8rem;
}

@media (max-width:610px) {
    .header__nav h3 {
        font-size: 1rem;
    }
    .header__nav h3:hover {
        font-size: 1.1rem;
    }
}

.user__logged {
    display: flex;
    align-items: center;
}



.user__logged img {
    height: 1.75rem;
    margin-right: .5rem;
    width: 1.75rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
    border-radius: 50%;
}



